@import url('https://fonts.googleapis.com/css2?family=Bangers');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("https://images7.alphacoders.com/751/751400.png");
    background-color:rgb(207, 232, 248);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Bangers', cursive;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    overflow: hidden;

}

h1{
    margin-top: 5rem;
    text-align: center;
    font-size: 6rem;
    font-weight: 700;
    color: rgb(52, 187, 240);
    text-shadow: 1px 1px 1px #3c97e2,
    1px 2px 1px #45eb45,
    1px 3px 1px #45eb45,
    1px 4px 1px #45eb45,
    1px 5px 1px #45eb45,
    1px 6px 1px #45eb45,
    1px 7px 1px #45eb45,
    1px 8px 1px #45eb45,
    1px 9px 1px #45eb45,
    1px 10px 1px #45eb45,
1px 18px 6px rgba(16,16,16,0.4),
1px 22px 10px rgba(16,16,16,0.2),
1px 25px 35px rgba(16,16,16,0.2),
1px 30px 60px rgba(16,16,16,0.4);
}

img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.img-conatiner{
    max-width: 25rem;
    display: flex;
    margin: 1rem;
}


#container{
    margin: 1rem;
    background: rgb(255, 255, 255, 0.473);
        backdrop-filter: blur(5px);
            border: 2px solid rgb(209, 213, 219, 0.726);
            max-width: 1000rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 10px;
            margin: auto;
}

.container-buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

button{
    height: 4rem;
    width: 4rem;
    border: 2rem;
}

button:hover{
    cursor:pointer;
}

button:active{
    transform: scale(0.9);
}

.Next{
    clip-path:polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    background-color: rgb(247, 36, 36);
    
}

.Next:hover{
    background-color: rgb(240, 100, 100);
}

.Preview{
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    background-color: rgb(41, 255, 41);
}

.Preview:hover{
    background-color: rgb(108, 243, 108);
}

.data-api{
    color:rgb(8, 175, 125);
}

.rick{
    height: 15rem;
    width: 8rem;
    position: absolute;
    bottom: 0;
    left: 10rem;
}

.morty{
    height: 15rem;
    width: 8rem;
    position: absolute;
    bottom: 0;
    right: 10rem;
}

.text-cont-title{
    width: 10rem;
    text-align: center;
}